input {
  padding: 8px;
  border-radius: 4px;
  background-color: #00000011;
  border-width: 0px;
}

button {
  padding: 8px;
  border-radius: 8px;
  background-color: #00000011;
  border-width: 0;
}

button:hover {
  background-color: #00000022;
}
